.container {
    width: 1280px;
    font-family: Roboto;
    margin: 0 auto;  /*выровнял по центру*/
}
.ramba-js {
    display: inline-block;
    margin-top: 61px;
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.mba {
    color: #4ccaff;/*цвет части логотипа Ramda*/
}
.ramba-js:hover {
    text-decoration: underline;/*подчеркивает логотип*/
}
.ul-header {
    list-style-type: none;
    text-align: center;
    line-height: 72px;
    padding: 0;
    font-size: 24px;
    background-color: #35444f;
}
.ul-header li{
    display: inline-block; /*Разместил пункты меню горизонтально*/
    padding: 0;
    text-align: center;
    color: white;
    text-decoration: none;
}
.li-header {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    margin-right: -6px;/*все что нашел для решения*/
    border-left: 1px solid white;

    color: white;
    text-decoration: none;
}
.li-header:hover {
    background-color: #232f3a;
}
.navbar {
    display: inline-block;
    width: 343px;
    border: 1px solid black;
    margin-right: 46px;
    vertical-align: top;
}
.nav-ul {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}
.navbar-menu {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    padding-left: 40px;
    font-size: 27px;
    line-height: 79px;
    color: #495863;
}
.navbar-menu:hover {
    background-color: #dbdbdb;
    color: black;
}
.logo-and-paragraph {/*Правая часть от navbar. Включает логотип и параграфы*/
    display: inline-block;
    width: 885px;
}
.ramdalogo {
    border: 1px solid black;
}
.logo {
    margin: 70px 281.5px;
    transition: 1s;
}
.logo:hover {
    transform: scale(1.2);
}
.paragraph {
    margin: 34px 0;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
}
.fotter {
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #b4b7b9;
}
.ul-fotter {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ul-fotter li {
    display: inline-block;
}
.fotter-menu {
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    line-height: 69px;
    font-size: 28px;
    color: black;
}
.fotter-menu:hover {
    text-decoration: underline;
    color: #6595ad;
}
.copyright {
    display: inline-block;
    margin-left: 82px;
    font-size: 24px;
    line-height: 24px;
}